
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    

.Gallery{
	padding: 60px 0px;
	width: 100%;
}
.main-gallery{
    
}


.gallery-text{
	padding: 20px 0px 0px 20px;
}
.gallery-text span{
	font-size: 22px;
}
.gallery-text h1{
	font-size: 28px;
	letter-spacing: 1px;
}
.gallery-text h2{
	font-size: 28px;
	width: 200px;
    letter-spacing: 1px;
}
.bttn{
	margin-top: 120px;

}
.l-part{
	padding: 25px;
}
.l-part h3{
	font-size: 26px;

}
.l-part h1{
	font-size: 36px;
}
.l-part  p{
	font-size: 14px;
	padding-top: 15px;
}
.f-btn {
    font-size: 14px;
    padding: 7px 15px;
    width: 37%;
    margin: 10px 8px;
  
}
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 867px) {
    
    /* CSS */
    .header{
        height: 70vh;
    }
    .cfb{
        height: 50vh;
    }
    #icon{
        display: block;
    }
    .nav-menu{
    }
    .nav-menu #ul{
        position: absolute;
        text-align: center;
        width: 100%;
        background: rgba(246, 250, 10, 0.842);
        left: -100%;
        transition: all .5s;
        padding: 20px 0px;
    }
    #ul.show{
        left: 0%;
        transition: all .5s;
    }
    .nav-menu ul li{
        display:block;
        padding: 10px 0px;
    }
    .menu{
        text-align: left;
    }
    .navbar{
        display: block;
    }
    .contect{
        margin-top: 10px;
    }
    
.l-content{
	flex-basis: 50%;
	padding-top: 100px;

}
.l-content p{
	font-size: 14px;
	font-weight: 500;
	padding: 4px 10px;
}
.l-content h1{
	font-size: 52px;
}
.l-content h2{
	font-size: 32px;
}
.r-content{
	flex-basis: 50%;
	position: relative;
}
.burger1{
	padding-top: 40px;
	padding-right: 0px;
}
.r-content{
}
.r-content img{
    max-width: 100%;
}
.price-tag{
    height: 50%;
    width: 50%;
}


.Gallery{
	padding: 60px 0px;
	width: 100%;
}
.gallery-text{
	padding: 15px 0px 0px 15px;
}
.gallery-text span{
	font-size: 20px;
}
.gallery-text h1{
	font-size: 24px;
	font-family: 'Bebas Neue', cursive;
	color: #fff;
	letter-spacing: 0px;
	font-weight: 500;
}
.gallery-text h2{
	font-size: 24px;
	width: 200px;
    letter-spacing: 0px;
}
.bttn{
	margin-top: 70px;

}
.main-text h1{
	font-size: 32px;
}
.main-text p{
	font-size: 13px;
	margin-top: 10px;
	width: 85%;
}

.p-box h2{
	font-size: 28px;
}
.p-box p{
	font-size: 13px;
	padding: 10px 20px;
}
.p-box button{
	font-size: 12px;
	padding: 8px 17px;
}

.l-part{
	padding: 20px;
}
.l-part h3{
	font-size: 22px;

}
.l-part h1{
	font-size: 32px;
}
.l-part  p{
	font-size: 14px;
	padding-top: 15px;
}

.form-s{
 padding-top: 40px;
 margin-top: 20px;

}
.f-title h5{
	font-size: 22px;
}
.f-title h1{
	font-size: 32px;	
}
.f-btn {
    font-size: 14px;
    padding: 7px 15px;
    width: 37%;
    margin: 10px 8px;
  
}
.footer-c{
	margin-bottom: 60px;
}

.footer-l{
	padding-top: 30px;
	padding-left: 25px;
}
.footer-l p{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	width: 75%;
	line-height: 25px;
	padding-top: 26px;
}
.footer-r{
	font-size: 16px;
	padding-right: 5%;
	flex-basis: 50%;

}

  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 0px) and (max-width: 480px) {
    
    /* CSS */
    .header{
        height: auto;
    }
    .cfb{
        height: 130vh;
    }
    #icon{
        display: block;
    }
    .nav-menu{
    }
    .nav-menu #ul{
        position: absolute;
        text-align: center;
        width: 100%;
        background: rgba(244, 248, 7, 0.712);
        left: -100%;
        transition: all .5s;
        padding: 20px 0px;
    }
    #ul.show{
        left: 0%;
        transition: all .5s;
    }
    .nav-menu ul li{
        display:block;
        padding: 10px 0px;
    }
    .menu{
        text-align: left;
    }
    .navbar{
        display: block;
    }
    .contect{
        margin-top: 10px;
    }
    .content{
        display: block;

    }
.l-content{
	flex-basis: 50%;
	padding-top: 50px;
    text-align: center;

}
.l-content p{
	font-size: 14px;
	font-weight: 500;
	padding: 4px 10px;
}
.l-content h1{
	font-size: 42px;
}
.l-content h2{
	font-size: 42px;
}
.r-content{
	flex-basis: 50%;
	position: relative;
}
.burger1{
	padding-top: 40px;
	padding-right: 0px;
}
.r-content{
}
.r-content img{
    max-width: 100%;
}
.price-tag{
    height: 50%;
    width: 50%;
}
.main-gallery {
    display: block;
    height: auto;
}
.right-gallery {
    margin-top: 20px;
    padding: 0%;
}
.Gallery{
	padding: 60px 0px;
	width: 100%;
}
.gallery-text{
	padding: 15px 0px 0px 15px;
}
.gallery-text span{
	font-size: 20px;
}
.gallery-text h1{
	font-size: 34px;
	font-family: 'Bebas Neue', cursive;
	color: #fff;
	letter-spacing: 0px;
	font-weight: 500;
}
.gallery-text h2{
	font-size: 34px;
	width: 200px;
    letter-spacing: 0px;
}
.img1 {
    height: 190px;
}
.bttn{
	margin-top: 70px;

}
.main-text h1{
	font-size: 22px;
}
.main-text p{
	font-size: 13px;
	margin-top: 10px;
	width: 85%;
}
.photo-box {
    display: block;
}
.p-box h2{
	font-size: 28px;
}
.p-box p{
	font-size: 13px;
	padding: 10px 20px;
}
.p-box button{
	font-size: 12px;
	padding: 8px 17px;
}

.l-part{
	padding: 20px;
}
.l-part h3{
	font-size: 16px;

}
.l-part h1{
	font-size: 24px;
}
.l-part  p{
	font-size: 12px;
	padding-top: 15px;
}
.slide-box {
    padding: 30px 5px;
}
.form-s{
 padding-top: 40px;
 margin-top: 20px;

}
.f-title h5{
	font-size: 16px;
}
.f-title h1{
	font-size: 24px;	
}
.f-btn {
    font-size: 12px;
    padding: 7px 15px;
    width: 90%;
    margin: 10px 8px;
  
}
input{
    width: 100% !important;
}
.footer-c{
    display: block;
	margin-bottom: 60px;
}

.footer-l{
	padding-top: 30px;
	padding-left: 25px;
    padding-right: 25px;
}
.footer-l p{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	width: 95%;
	line-height: 25px;
	padding-top: 26px;
}
.footer-r{
	font-size: 16px;
	padding-right: 0%;
	margin-top: 20px;

}
.footer-r2 {
    float: none;
    text-align: center;
}
.footer-l2 {
    float: none;
    margin-bottom: 20px;
    padding-left: 0px;
    width: 100%;
    text-align: center;
}
.footer-l2 span {
    font-size: 14px;
    padding-left: 0px;

  }
}
